$color-primario: #198754;
$color-secundario: #f5f5f5;
$color-texto: #333;
$fuente-principal: 'Inter', sans-serif;
$espaciado: 1rem;

@mixin responsive($breakpoint) {
  @if $breakpoint == sm {
    @media (max-width: 576px) { @content; }
  }
  @else if $breakpoint == md {
    @media (max-width: 768px) { @content; }
  }
  @else if $breakpoint == lg {
    @media (max-width: 992px) { @content; }
  }
}

body {
  font-family: $fuente-principal;
  color: $color-texto;
  background-color: white;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $color-primario;

  &:hover {
    color: darken($color-primario, 10%);
  }
}

h1, h2, h3, h4, h5 {
  color: $color-primario;
}

.header {
  background-color: $color-primario;
  padding: 10px;

  nav {
    .nav-link {
      color: white;
      &:hover,
      &.active {
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }
}

footer {
  background-color: $color-primario;
  color: white;
  text-align: center;
  padding: 1rem;
}

.blog-card, .clip-imagen {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  overflow: hidden;
}

@include responsive(sm) {
  h1 {
    font-size: 1.5rem;
  }

  .nav {
    flex-direction: column;
  }

  .card {
    margin-bottom: 1rem;
  }
}

.banner img {
  height: 400px;
  object-fit: cover;
}

.carousel-item img {
  height: 700px;
  object-fit: cover;
}

.imagen-clip-path img {
  width: 70%;
  max-height: 600px;
  object-fit: cover;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  border-radius: 10px;
}

.card-img-top {
  height: 400px;
  object-fit: cover;
  border-radius: 50;
}

.clip-path-decorativa img{
  width: 70%;
  max-height: 600px;
  object-fit: cover;
  clip-path: circle(50% at 50% 50%);
  border-radius: 10px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

    .blog-card {
      opacity: 0;
      transform: translateY(20px);
      transition: all 0.6s ease-in-out;
    }
    .blog-card.visible {
      opacity: 1;
      transform: translateY(0);
    }

    .banner{
      width: 100%;
    }

.whatsapp-chat {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #25D366;
    color: white;
    padding: 15px;
    border-radius: 50px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-size: 1.5rem;
    z-index: 1000;
    transition: all 0.3s ease;
    animation: bounce 2s infinite;
}

.whatsapp-chat:hover {
    transform: scale(1.1);
    animation: none;
}

.mapa-google {
  width: 100%;
  margin: 0;
  padding: 0;
  iframe {
    width: 100%;
    height: 500px;
    display: block;
    border: 0;
  }
}



